<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="well">
            <div class="row">
                <app-band-form></app-band-form>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                    <a class="btn btn-default" [routerLink]="['/band']">Cancel</a>
                    <button class="btn btn-primary" (click)="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>